# follow XDG base dir specification
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"


# dwm
xrandr --output DisplayPort-1 --mode 2560x1440 --rate 75
dunst &
picom &
dwmblocks &
wal -R &
pywal16 &
# set bg
feh --bg-fill "$(< "${HOME}/.cache/wal/wal")" &
