* {
  /* all: unset; */
  font-family: "JetBrains Mono Nerd Font";
  font-size: 11px;
  /* font-style: italic; */
  font-weight: bold;
}

tooltip {
  border-radius: 4px;
  background-color: rgba(40, 40, 40, 0.7);
  border: 1px solid #595959;
  font-size: 0.8em;
  color: #fff;
}

window#waybar {
  background: transparent;
}

window#waybar > box {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  color: #171218;
}

#window {
  font-family: "CaskaydiaCove NFM", monospace;
  font-style: italic;
}

window#waybar.empty #window {
  background: transparent;
  border: 0px solid transparent;
}

#clock {
  margin-left: 5px;
  margin-right: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 4px;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
}

.modules-center {
  margin-left: 20px;
}

#bluetooth.disabled {
  color: #f25e37;
}

#pulseaudio {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 4px;
}

#network {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 4px;
}

#network.disabled {
  color: #f25e37;
}

#workspaces {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 1px;
  margin-left: 3px;
  border-radius: 4px;
}

#workspaces button {
  margin-right: 4px;
  padding-right: 3px;
  border-radius: 5px;
  background-color: #171218;
  min-width: 15px;
  min-height: 10px;

  transition: all 200ms ease-in-out;

  opacity: 0.5;
}

#workspaces button.active {
  min-width: 35px;
  opacity: 1;
}

#workspaces button.urgent {
  background-color: #f25e37;
  opacity: 1;
}
