* {
  all: unset;
}

/* -------- Colors ------- */

$white: #c4c1d9;
$foreground: #2f2c42;
$foreground-dark: #221c33;
$gray: #181624;
$black: #13111c;
$background: #0b0a10;

/*                         */

$green: #85ca79;
$cyan: #79baca;
$purple: #a079ca;
$pink: #ca79b7;
$red: #ca7d79;
$orange: #ca8679;
$yellow: #caa579;

/* ------------------------ */

.work {
  padding: 2px;
  background-color: $background;
}

.works {
  font-family: "Symbols Nerd Font";
  padding: 9px;
  border-radius: 2px;
  min-width: 10px;
  margin-right: 2px;
  background-color: $black;
}

.focused {
  background-color: $white;
  border-radius: 2px;
  padding: 0px 15px;
}

.launcher-box {
  font-family: "Symbols Nerd Font";
  font-size: 1.2em;
  border-radius: 2px;
  padding: 0px 10px;
  transition: 0.5s;
  margin-right: 2px;
  color: $white;
  background-color: $black;
}

.time-hour {
  margin-right: 2px;
}

.time-min {
  margin-left: 2px;
}

.time {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 2px;
  margin-left: 2px;
  padding: 0px 7px;
  color: $white;
  background-color: $black;
}

.control {
  font-size: 1.2em;
  border-radius: 2px;
  margin-left: 2px;
  background-color: $black;

  .bars trough highlight {
    border-radius: 2px;
    background-color: $white;
  }

  .volbar trough highlight {
    border-radius: 2px;
    background-color: $white;
  }

  .memory-content {
    padding: 0px 8px;
  }

  .tray-icon {
    color: $white;
    font-size: 1.2em;
    border-radius: 2px;
    padding: 0px 8px;
    transition: all 0.2s;
  }

  .volume-content {
    padding: 0px 0px 0px 8px;
  }

  .wifi-icon,
  .power-icon,
  .volume-icon {
    font-family: "Symbols Nerd Font";
    font-size: 1.2em;
    padding: 0px 8px 0px 8px;
    border-radius: 2px;
    transition: all 0.2s;
    color: $white;
    background-color: $black;
  }

  .memory-icon {
    font-family: "Symbols Nerd Font";
    font-size: 1.2em;
    color: $white;
  }

  .wifi-icon {
    padding: 0px 2px 0px 4px;
  }

  .volume-icon {
    padding: 0px 0px 0px 0px;
  }

  .power-icon:hover {
    background-color: $gray;
  }

  .power-icon:active {
    background-color: $white;
  }

  .tray-icon:hover {
    background-color: $gray;
  }

  .tray-icon:active {
    background-color: $white;
  }

  scale trough {
    all: unset;
    border-radius: 2px;
    min-height: 10px;
    min-width: 50px;
    margin-right: 5px;
    background-color: $background;
  }
}
